---
interface Props {
  title: string;
}
import "../styles/base.css";
// Supports weights 200-900
import "@fontsource-variable/nunito-sans";
// Supports weights 100-900
import "@fontsource-variable/roboto-slab";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="min-h-screen"><slot /></main>
    <Footer />
  </body>
</html>
