---
import type { InferGetStaticParamsType } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getGoogleTraining } from "../../utils/sanity";
import { getGoogleTrainings } from "../../utils/sanity";
import PortableText from "../../components/PortableText.astro";
import Container from "../../components/Container.astro";

export async function getStaticPaths() {
  const pages = await getGoogleTrainings();
  return pages.map((page) => ({
    params: { slug: page.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;

const page = await getGoogleTraining(slug);
export const prerender = true;
---

<Layout title={page.title}
  ><section class="py-16">
    <Container
      ><article class="prose prose-lg w-full">
        <PortableText content={page.pageContent} />
      </article></Container
    >
  </section></Layout
>
