---
import Layout from "../../layouts/Layout.astro";
import { getAwsTrainings } from "../../utils/sanity";

const pageContent = await getAwsTrainings();
console.log(pageContent[0].title);
---

<Layout title="AWS Training">
  <h1>AWS Training</h1>
</Layout>
